* {
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: rgb(32, 32, 32);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock {
    font-size: 4rem;
    margin: 2rem;
    color: white;
}

button {
    width: 200px;
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
    font: 100 1.2rem Sans-Serif;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 10px, 0.3);
}

button:hover {
    background-color: rgb(24, 22, 22);
    color: white;
}