* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: white;
}

select, button {
    padding: 10px;
    margin-top: 20px;
    background-color: gray;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: crimson;
    border: none;
}
button:hover {
    background-color: rgb(185, 7, 43);
    translate: 2px;
}